// usage .rest-logo(style='background-image: url("http://img.fd.am/d0b1856e-3147-4dc2-adcc-6301d7f71f2c");')

.rest-logo-wr {
    // background-image: url("http://img.fd.am/d0b1856e-3147-4dc2-adcc-6301d7f71f2c");

    position:absolute;
    top: 0;
    bottom: 0;
    margin: 6px;
}

.rest-logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: @screen-xs-max) {
  .shopsItem {
    .row {
      margin: 0;
      & > div {
        padding: 0;
      }
    }
    .cover {
      background-color: rgba(0,0,0,0.5);
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
    }
    .rest-logo {
      height: 15em;
    }
    .thumbnail {
      border: 0;
      border-top: 2px solid @brand-primary;
      margin: 0;
    }
    padding: 0;    
  }
}
.rest-logo-style(@min-width, @image-height) {
  @media (min-width: @min-width) {
    .rest-logo {
      &:not(:hover){
        -webkit-filter: grayscale(100%); 
        filter:  grayscale(100%);
      }
      height: @image-height;
    }
  }
}
.shopsItem {
  .thumbnail { 
    position: relative;
    padding: 0;
  }
  .img-wr {
    position: relative;
  }
}

.rest-logo-style(@screen-sm, (@container-sm/2-@grid-gutter-width)*3/4);
.rest-logo-style(@screen-md,(@container-md/4-@grid-gutter-width)*3/4);
.rest-logo-style(@screen-lg,(@container-lg/4-@grid-gutter-width)*3/4);

