.mainPageEvents {
  background-color: white;
  .event .image {
    height: 11em;

  }
  h2 {
    margin: 1em 0;
  }

}

.eventsPage .event .image {
  height: 15em;
}

.event {
  .image {
      background-size: cover;
      background-position: center  
  }

}

.event-foot {
  height: 1.3em;
  .btn {
    margin: 0 0 !important; 
  }
}
.event-foot, .event {
 .right-section {
  padding: 0 @grid-gutter-width*2.5;
  .up-0  {
    padding: 0 @grid-gutter-width*2.5;
  }
 } 
}

.event-foot:last-child {
    height: 33px;
}



.events-navbar {
  input {
    width: 350px !important;
  }
  .pickaday {
    width: 9em !important;
  }
}



