.main-footer {
  padding-top: 4em;
  font-size: 0.8em;
  * {
    color: grey;
  .iconParagraph {
    margin-top: -2em;
  }
  }
  h4 {
    text-transform: uppercase;
    color: @gray-lighter;
    line-height: 2em;
  }
}