@media (min-width: @screen-sm) {
.shop-product {
  color: white;
  .caption {
    color: white;
  }
  .up-1 {
    padding: 0.5em;
    padding-bottom: 1em;
    #gradient > .vertical(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  }
}
}


.shop-product-image {
  background: url(images/spinner.gif) no-repeat center center; 
  overflow: hidden;
  height: 200px; 
}


.shop-product-image {
    position: relative; 
    img {
      height: 100%;
      width: 100%;
    }
}



@media (max-width: @screen-xs-max){
  .shop-product-image {
    height: 150px;
  }
  .shop-product {
    .thumbnail {
      margin-bottom: @grid-gutter-width;
    }
    .item-caption * {
      color: @gray-dark;
    }
  }
  .pager {
    margin: 0;
  }
  img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: @screen-sm) {
.shop-navbar {
  input {
    width: 350px !important;
    color: @gray-dark !important;
  }
}
.shop-product-image {
  height: (@container-sm/2-@grid-gutter-width)*3/4;
}
}
@media (min-width: @screen-md) {
.shop-product-image {
  height: (@container-md/4-@grid-gutter-width)*3/4;
}
}

@media (min-width: @screen-lg) {
.shop-product-image {
  height: (@container-lg/4-@grid-gutter-width)*3/4;
}
}

.shop-products {
  h2 {
    margin: 0.5em;
  }
}
.shop-product {
  .thumbnail {
    position: relative;
    background-color: white;
  }
  h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  .description {
    color: @gray;
  }
}

.rest-logo-style(@screen-sm, (@container-sm/2-@grid-gutter-width)*3/4);
.rest-logo-style(@screen-md,(@container-md/4-@grid-gutter-width)*3/4);
.rest-logo-style(@screen-lg,(@container-lg/4-@grid-gutter-width)*3/4);

.lp-5 {
  padding-left: @grid-gutter-width/2*5;
}
.lp-4 {
  padding-left: @grid-gutter-width/2*4;
}
.lp-3 {
  @media (min-width: @screen-sm) {
    padding-left: @grid-gutter-width/2*3;
  }
  
}

.shop-product {
  .thumbnail {
    padding: 0;
    overflow: hidden;
    // img:not(:hover){
    //   -webkit-filter: grayscale(100%); 
    //   filter: grayscale(100%); 
    // }
  }
}

.pointer { 
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-select: none; 
  cursor: pointer;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.shop-header {
  .switcher-container {
    text-align: center;
    .btn {
      margin: 0; 
    }
    @media(max-width: @screen-xs-max) {
      .btn {
        padding: 6px 15px;
      }
    }
    
  }
  padding: @grid-gutter-width/2;
  background: white;
  .logo {
      background-size: cover;
      background-position: center;
      height: 8em;
      background-repeat: no-repeat;  
  }
  .container > .row > div, .up-0 {
    padding: 0 1em;
  }
  h1 {
    font-size: 1.8em;
  }
  p,h1 {
    margin: 0em 0 0.3em;
  }
  @media (min-width: @screen-sm) {
    .switcher-container .btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    & {
      padding: 1.5em;
    }
    .description {
      min-height: 7em;
    }
    .right  * {
      text-align: right;
    }
  }
  .underline {
    margin-bottom: .4em;
  }
  .facilities {
    i {
      color: @brand-primary;
    }
    .btn {
      margin: 0;
      margin-top: -20px;
      color: @brand-primary;
      font-weight: bold;
    }
  }
}



